.row {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: .3s;
  user-select: none;
}

.col {
  // padding: 0 10px;

  &:first-child {
    width: 30px;
  }

  &:nth-child(2) {
    flex: 1;
  }

  &:nth-child(3) {
    width: 50px;
  }
}